<h3 id="scrapeBoxText">Saved Articles</h3>
{{#each article}}
<div class="container articleItem">
    <li>
        <h4>{{title}}</h4>
        <hr>
        <h5>{{summary}}</h5>
        <hr>
        <h6>{{link}}</h6>
        {{!--<button class="save" data-id="{{article.id}}" data="{{true}}">--}}
            <button class="btn addNote" id="newNote" data-target="noteSection" data-id="{{id}}">
		add note
	</button>
        <button class="btn deleteArt" data-id="{{id}}">
		delete article
	</button>
    </li>
</div>
{{/each}} {{!--modal--}}

<div id="noteSection" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Add or Remove Notes</h5>
        {{#each note}}
        <p>{{body}}</p>
        <button class="btn deleteNote" data-id="{{id}}">delete note</button> {{/each}}
        <div id="modalErrorHeader" class="clearNewUser"></div>
        <div class="row">
            <!-- ===================================== -->
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="note" id="userName" type="text" class="err validate clearNewUser">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" data-id="" class="saveNote modal-action waves-effect waves-green btn-flat">Submit</a>
        <a href="#!" id="exitModal" class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
    </div>
    <script type="text/javascript">
        $("#noteSection").modal({});

        $("#newNote").on("click", function() {
            let id = $(this).attr("data-id")
            $("#noteSection").modal("open");
            $(".saveNote").arrt("data-id", id);
        });
    </script>
